@model HomeVM

<!-- Background Area Start -->
<section id="slider-container" class="slider-area two">
    <div class="slider-owl owl-theme owl-carousel">
        <!-- Start Slider -->
        @foreach (Slider slider in Model.Sliders) 
        {
        <div class="single-slide item" style="background-image: url(img/slider/@slider.Image)">
            <!-- Start Slider Content -->
            <div class="slider-content-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="slide-content-wrapper">
                                <div class="slide-content text-center">
                                    <h2>@Model.AboutSlider.Header </h2>
                                    <p>@Model.AboutSlider.Content  </p>
                                    <a class="default-btn" href="about.html">Learn more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Start Slider Content -->
        </div> 
        }
        <!-- End Slider -->
    </div>
</section>
<!-- Background Area End -->
<!-- Service Start -->
<div class="service-area two pt-150 pb-150">
    <div class="container">
        <div class="row">
            @foreach (Service service in Model.Services)
            {

                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single-service">
                        <h3><a href="teacher.html">@service.Header</a></h3>
                        <p>@service.Content</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Service End -->
<!-- About Start -->
<div class="about-area pb-155">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="about-content">
                    <h2>@Model.AboutUs.Header</h2>
                    <p>@Model.AboutUs.Content</p>
                    <p class="hidden-sm">@Model.AboutUs.ShortContent</p>
                    <a class="default-btn" href="about.html">view courses</a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="about-img">
                    <img src="~/img/about/@Model.AboutUs.Image" alt="about">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Courses Area Start -->
<div class="courses-area two pt-150 pb-150 text-center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <img src="img/icon/section1.png" alt="section-title">
                    <h2>COURSES WE OFFER</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (Course course in Model.Courses)
            {

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-course">
                        <div class="course-img">
                            <a href="course-details.html">
                                <img src="img/course/@course.Image" alt="course">
                                <div class="course-hover">
                                    <i class="fa fa-link"></i>
                                </div>
                            </a>
                        </div>
                        <div class="course-content">
                            <h3><a href="course-details.html">@course.Name</a></h3>
                            @foreach (CourseDetail detail in Model.CourseDetails)
                            {
                                if (course.CourseDetailId == detail.Id)
                                {
                                    <p>@detail.Content</p>
                                }
                            }

                            <a class="default-btn" href="course-details.html">read more</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Courses Area End -->
<!-- Notice Start -->
<section class="notice-area two pt-140">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="notice-right-wrapper mb-25 pb-25">
                    <h3>TAKE A VIDEO TOUR</h3>
                    <div class="notice-video" style="background-image:url(img/notice/@Model.NoticeVideo.Image)!important">
                        <div class="video-icon video-hover">
                            <a class="video-popup" href="@Model.NoticeVideo.Link">
                                <i class="zmdi zmdi-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="notice-left-wrapper">
                    <h3>notice board</h3>
                    <div class="notice-left">
                        @foreach (NoticeBoard board in Model.NoticeBoards)
                        {

                            <div class="single-notice-left mb-23 pb-20">
                                <h4>@board.Date.ToString("dd, MMM yyyy", CultureInfo.InvariantCulture)</h4>
                                <p>@board.Content</p>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Notice End -->
<!-- Event Area Start -->
<div class="event-area two text-center pt-100 pb-145">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <img src="img/icon/section.png" alt="section-title">
                    <h2>UPCOMMING EVENTS</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (Event _event in Model.Events) 
            {
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="single-event mb-35" style="display:flex !important;align-items:center !important;padding:0px!important">
                    <div class="event-img" style="width:50% !important">
                        <a href="event-details.html"><img src="img/event/@_event.Image" alt="event"></a>
                    </div>
                    <div class="event-content text-left" style="padding: 0px !important">
                        <h3>@_event.Date.ToString("dd MMM yyyy", CultureInfo.InvariantCulture)</h3>
                        <h4><a href="event-details.html">@_event.Header</a></h4>
                        <ul>
                            <li><i class="fa fa-clock-o"></i>@_event.Interval</li>
                            <li><i class="fa fa-map-marker"></i>@_event.Location</li>
                        </ul>
                        <div class="event-content-right">
                            <a class="default-btn" href="event-details.html">join now</a>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>
<!-- Event Area End -->
<!-- Testimonial Area Start -->
<div class="testimonial-area pt-110 pb-105 text-center">
    <div class="container">
        <div class="row">
            <div class="testimonial-owl owl-theme owl-carousel">
                @foreach (Testimonial testimonial in Model.Testimonials)
                {
                    <div class="col-md-8 col-md-offset-2 col-sm-12">
                        <div class="single-testimonial">
                            <div class="testimonial-info">
                                <div class="testimonial-img">
                                    <img src="img/testimonial/@testimonial.Image" alt="testimonial">
                                </div>
                                <div class="testimonial-content">
                                    <p>@testimonial.Description</p>
                                    <h4>@testimonial.Name</h4>
                                    <h5>@testimonial.Speciality</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- Testimonial Area End -->
<!-- Blog Area Start -->
<div class="blog-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title text-center">
                    <img src="img/icon/section.png" alt="section-title">
                    <h2>LATEST FROM BLOG</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (Blog blog in Model.Blogs)
            {
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-blog">
                        <div class="blog-img">
                            <a href="blog-details.html"><img src="img/blog/@blog.Image" alt="blog"></a>
                            <div class="blog-hover">
                                <a href="blog-details.html"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                        <div class="blog-content">
                            <div class="blog-top">
                                <p>By @blog.Publisher  /  @blog.Date.ToString("MMM dd, yyy",CultureInfo.InvariantCulture)  /  <i class="fa fa-comments-o"></i> 4</p>
                            </div>
                            <div class="blog-bottom">
                                <h2><a href="blog-details.html">@blog.Header</a></h2>
                                <a href="blog-details.html">read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Blog Area End -->
